In [1]:
import pandas as pd
import numpy as np
import tensorflow
from tensorflow import keras

2024-03-24 11:03:38.939790: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-03-24 11:03:45.316078: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-03-24 11:03:45.322343: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-03-24 11:03:46.310105: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-03-24 11:03:48.283251: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-03-24 11:04:14.547243: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
from sklearn.model_selection import train_test_split
from keras import Sequential
from keras.layers import Dense, Input

In [3]:
df = pd.read_csv("dataset/Mumbai.csv")

In [4]:
df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,4850000,720,Kharghar,1,1,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
2,6700000,650,Kharghar,1,1,1,1,1,0,1,...,1,0,1,0,0,0,0,0,0,0
3,4500000,650,Kharghar,1,1,1,0,0,1,0,...,1,1,1,0,0,0,0,0,1,0
4,5000000,665,Kharghar,1,1,1,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7719 entries, 0 to 7718
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                7719 non-null   int64
 1   Area                 7719 non-null   int64
 2   Location             7719 non-null   object
 3   No. of Bedrooms      7719 non-null   int64
 4   Resale               7719 non-null   int64
 5   MaintenanceStaff     7719 non-null   int64
 6   Gymnasium            7719 non-null   int64
 7   SwimmingPool         7719 non-null   int64
 8   LandscapedGardens    7719 non-null   int64
 9   JoggingTrack         7719 non-null   int64
 10  RainWaterHarvesting  7719 non-null   int64
 11  IndoorGames          7719 non-null   int64
 12  ShoppingMall         7719 non-null   int64
 13  Intercom             7719 non-null   int64
 14  SportsFacility       7719 non-null   int64
 15  ATM                  7719 non-null   int64
 16  ClubHouse            7719 non-null   int64
 17  School               7719 non-null   int64
 18  24X7Security         7719 non-null   int64
 19  PowerBackup          7719 non-null   int64
 20  CarParking           7719 non-null   int64
 21  StaffQuarter         7719 non-null   int64
 22  Cafeteria            7719 non-null   int64
 23  MultipurposeRoom     7719 non-null   int64
 24  Hospital             7719 non-null   int64
 25  WashingMachine       7719 non-null   int64
 26  Gasconnection        7719 non-null   int64
 27  AC                   7719 non-null   int64
 28  Wifi                 7719 non-null   int64
 29  Children'splayarea   7719 non-null   int64
 30  LiftAvailable        7719 non-null   int64
 31  BED                  7719 non-null   int64
 32  VaastuCompliant      7719 non-null   int64
 33  Microwave            7719 non-null   int64
 34  GolfCourse           7719 non-null   int64
 35  TV                   7719 non-null   int64
 36  DiningTable          7719 non-null   int64
 37  Sofa                 7719 non-null   int64
 38  Wardrobe             7719 non-null   int64
 39  Refrigerator         7719 non-null   int64
dtypes: int64(39), object(1)
memory usage: 2.4+ MB

In [6]:
df_encoded = pd.get_dummies(df, columns=['Location'],dtype=int)

In [7]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7719 entries, 0 to 7718
Columns: 452 entries, Price to Location_worli sea face
dtypes: int64(452)
memory usage: 26.6 MB

In [8]:
X = df_encoded.drop("Price", axis=1)  # Replace "target_column" with your actual target column name
y = df_encoded["Price"]

# Split the data into training and testing sets with a specific test size (e.g., 20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
model=Sequential()
model.add(Input(shape=(451,)))
model.add(Dense(128,activation='linear'))
model.add(Dense(64,activation='linear'))
model.add(Dense(64,activation='linear'))
model.add(Dense(32,activation='linear'))
model.add(Dense(16,activation='linear'))
model.add(Dense(1,activation='linear'))

2024-03-24 11:04:57.879292: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-03-24 11:05:04.521920: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-03-24 11:05:04.521963: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-03-24 11:05:04.524580: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-03-24 11:05:04.524616: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-03-24 11:05:04.524632: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-03-24 11:05:04.823509: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-03-24 11:05:04.823558: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-03-24 11:05:04.823564: I tensorflow/core/common_runtime/gpu/gpu_device.cc:2022] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2024-03-24 11:05:04.823591: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-03-24 11:05:04.823607: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1929] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 2262 MB memory:  -> device: 0, name: NVIDIA GeForce GTX 1650 with Max-Q Design, pci bus id: 0000:01:00.0, compute capability: 7.5

In [10]:
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])  # MAE - Mean Absolute Error (optional metric)

In [11]:
history = model.fit(X_train,y_train,batch_size=8,epochs=25,validation_data=(X_test,y_test))

Epoch 1/25

2024-03-24 11:05:11.900165: I external/local_tsl/tsl/platform/default/subprocess.cc:304] Start cannot spawn child process: No such file or directory
2024-03-24 11:05:13.707586: I external/local_xla/xla/service/service.cc:168] XLA service 0x7f9b60c28040 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2024-03-24 11:05:13.707625: I external/local_xla/xla/service/service.cc:176]   StreamExecutor device (0): NVIDIA GeForce GTX 1650 with Max-Q Design, Compute Capability 7.5
2024-03-24 11:05:14.270102: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2024-03-24 11:05:14.775917: I external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:454] Loaded cuDNN version 8904
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1711258515.361972    3791 device_compiler.h:186] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

772/772 [==============================] - 15s 4ms/step - loss: 398721778974720.0000 - mae: 10349805.0000 - val_loss: 447083312054272.0000 - val_mae: 10580028.0000
Epoch 2/25
772/772 [==============================] - 3s 4ms/step - loss: 370603567611904.0000 - mae: 9932265.0000 - val_loss: 453060161699840.0000 - val_mae: 10000710.0000
Epoch 3/25
772/772 [==============================] - 3s 4ms/step - loss: 372924628336640.0000 - mae: 9871332.0000 - val_loss: 447321649184768.0000 - val_mae: 10489462.0000
Epoch 4/25
772/772 [==============================] - 3s 4ms/step - loss: 372951572545536.0000 - mae: 9865821.0000 - val_loss: 447281987846144.0000 - val_mae: 10462887.0000
Epoch 5/25
772/772 [==============================] - 3s 4ms/step - loss: 370982665584640.0000 - mae: 9875766.0000 - val_loss: 447253634351104.0000 - val_mae: 10485477.0000
Epoch 6/25
772/772 [==============================] - 3s 4ms/step - loss: 372022483877888.0000 - mae: 9887420.0000 - val_loss: 447981698416640.0000 - val_mae: 10345353.0000
Epoch 7/25
772/772 [==============================] - 3s 4ms/step - loss: 370063710355456.0000 - mae: 9901878.0000 - val_loss: 448119271587840.0000 - val_mae: 10937115.0000
Epoch 8/25
772/772 [==============================] - 3s 4ms/step - loss: 373509716967424.0000 - mae: 9843398.0000 - val_loss: 448074946183168.0000 - val_mae: 10993454.0000
Epoch 9/25
772/772 [==============================] - 3s 4ms/step - loss: 372404266205184.0000 - mae: 9902029.0000 - val_loss: 451671612194816.0000 - val_mae: 10035671.0000
Epoch 10/25
772/772 [==============================] - 3s 4ms/step - loss: 372766620516352.0000 - mae: 9875123.0000 - val_loss: 449567011110912.0000 - val_mae: 10158038.0000
Epoch 11/25
772/772 [==============================] - 3s 4ms/step - loss: 372539222130688.0000 - mae: 9820532.0000 - val_loss: 449423163260928.0000 - val_mae: 10150084.0000
Epoch 12/25
772/772 [==============================] - 4s 5ms/step - loss: 371328209125376.0000 - mae: 9860452.0000 - val_loss: 454491795095552.0000 - val_mae: 9898449.0000
Epoch 13/25
772/772 [==============================] - 4s 5ms/step - loss: 373986995208192.0000 - mae: 9845060.0000 - val_loss: 446335014666240.0000 - val_mae: 10719883.0000
Epoch 14/25
772/772 [==============================] - 4s 5ms/step - loss: 372926574493696.0000 - mae: 9898634.0000 - val_loss: 448196715216896.0000 - val_mae: 10220136.0000
Epoch 15/25
772/772 [==============================] - 4s 5ms/step - loss: 371699757350912.0000 - mae: 9806284.0000 - val_loss: 446203313520640.0000 - val_mae: 10585122.0000
Epoch 16/25
772/772 [==============================] - 4s 5ms/step - loss: 371423268831232.0000 - mae: 9859804.0000 - val_loss: 446339007643648.0000 - val_mae: 10542042.0000
Epoch 17/25
772/772 [==============================] - 4s 5ms/step - loss: 372544087523328.0000 - mae: 9875851.0000 - val_loss: 449769277227008.0000 - val_mae: 10089960.0000
Epoch 18/25
772/772 [==============================] - 4s 5ms/step - loss: 371626508025856.0000 - mae: 9760643.0000 - val_loss: 446683779432448.0000 - val_mae: 10880574.0000
Epoch 19/25
772/772 [==============================] - 4s 5ms/step - loss: 372217133137920.0000 - mae: 9875367.0000 - val_loss: 446870912499712.0000 - val_mae: 10889152.0000
Epoch 20/25
772/772 [==============================] - 4s 5ms/step - loss: 371198722572288.0000 - mae: 9856092.0000 - val_loss: 448426261086208.0000 - val_mae: 11150026.0000
Epoch 21/25
772/772 [==============================] - 4s 5ms/step - loss: 370763521589248.0000 - mae: 9852214.0000 - val_loss: 448763986444288.0000 - val_mae: 10116570.0000
Epoch 22/25
772/772 [==============================] - 4s 5ms/step - loss: 372131703554048.0000 - mae: 9813936.0000 - val_loss: 445842167169024.0000 - val_mae: 10485433.0000
Epoch 23/25
772/772 [==============================] - 4s 5ms/step - loss: 371280763158528.0000 - mae: 9812783.0000 - val_loss: 447811007021056.0000 - val_mae: 10180699.0000
Epoch 24/25
772/772 [==============================] - 4s 5ms/step - loss: 370606352629760.0000 - mae: 9850848.0000 - val_loss: 447603338641408.0000 - val_mae: 10180625.0000
Epoch 25/25
772/772 [==============================] - 4s 5ms/step - loss: 371437126811648.0000 - mae: 9831479.0000 - val_loss: 447144951545856.0000 - val_mae: 10220886.0000

In [12]:
# Access training loss
train_loss = history.history['loss']

# Access validation loss (if validation data was used)
val_loss = history.history['val_loss']

In [13]:
train_loss

[398721778974720.0,
 370603567611904.0,
 372924628336640.0,
 372951572545536.0,
 370982665584640.0,
 372022483877888.0,
 370063710355456.0,
 373509716967424.0,
 372404266205184.0,
 372766620516352.0,
 372539222130688.0,
 371328209125376.0,
 373986995208192.0,
 372926574493696.0,
 371699757350912.0,
 371423268831232.0,
 372544087523328.0,
 371626508025856.0,
 372217133137920.0,
 371198722572288.0,
 370763521589248.0,
 372131703554048.0,
 371280763158528.0,
 370606352629760.0,
 371437126811648.0]

In [15]:
val_loss

[447083312054272.0,
 453060161699840.0,
 447321649184768.0,
 447281987846144.0,
 447253634351104.0,
 447981698416640.0,
 448119271587840.0,
 448074946183168.0,
 451671612194816.0,
 449567011110912.0,
 449423163260928.0,
 454491795095552.0,
 446335014666240.0,
 448196715216896.0,
 446203313520640.0,
 446339007643648.0,
 449769277227008.0,
 446683779432448.0,
 446870912499712.0,
 448426261086208.0,
 448763986444288.0,
 445842167169024.0,
 447811007021056.0,
 447603338641408.0,
 447144951545856.0]